@inherits LayoutComponentBase
@inject ICounterStateViewModel _counterViewModel
@inject IToastService _toastService

<PageTitle>CounterStateServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <BlazoredToasts />
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        _counterViewModel.OnNotify += (s, e) => _toastService.ShowInfo($"count is {_counterViewModel.Count}");            
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}