@page "/"
@using System.ComponentModel
@using Fluxor
@inject ICounterStateViewModel _counterViewModel
@inject IToastService _toastService
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>count is : @_counterViewModel.Count</p>

<SurveyPrompt Title="How is Blazor working for you?"/>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _counterViewModel.PropertyChanged += CounterStateOnPropertyChanged;
    }
    
    private void CounterStateOnPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _counterViewModel.PropertyChanged -= CounterStateOnPropertyChanged;
    }
}